{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('registration') }}
{% endblock %}
{% block body %}
    <style>
        body {background-color: skyblue;}
    </style>
    <div id="app"></div>
    {% block javascript %}
        {{ encore_entry_script_tags('registration') }}
    {% endblock %}
{% endblock %}
