{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div id="app"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
{% endblock %}
