{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

<div id="app">
    <user-list :users="{{ users|json_encode|raw }}"></user-list>
</div>
<div>
    {% for user in users %}
        <li>{{ user.username|e }}</li>
    {% endfor %}
</div>


{% endblock %}
