{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div>
    {% for user in users %}
        <li>{{ user.username }}</li>
    {% endfor %}
</div>
<div id="app">
    <user-list :users="{{ users|json_encode|raw }}"></user-list>
</div>

{% endblock %}
