<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My App Messenger{% endblock %}</title>
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block nav %}
                <ul
                    class="nav justify-content-center  "
                >
                    <li class="nav-item">
                        <a class="nav-link active" href="#" aria-current="page"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Messages</a>
                    </li>
                </ul>
                
            {% endblock %}
        {% endblock %}
    </body>
    <script>
        var socket = new WebSocket('ws://127.0.0.1:8080');

        socket.onopen = function() {
            console.log('WebSocket connection opened');
            socket.send('Hello Server');
        };

        socket.onmessage = function(event) {
            console.log('Message from server ', event.data);
        };

        socket.onclose = function() {
            console.log('WebSocket connection closed');
        };

    </script>

</html>
