{% extends 'base.html.twig' %}

{% block title %}dashboard{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

<div id="app">
   <h1>hello world!!!</h1>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
{% endblock %}
